*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

.left{
    position : fixed;
    left : 0px;
    top : 0px;
    background-color: #eee;
    min-width : 320px;
    height : 100%;
    overflow-y : scroll;
    z-index : 1000;
}

.left .leftHeader{
    position: relative;
    background-color : #888;
    color: #fff;
    padding: 20px;
}

.left .elements {
    list-style-type : none;
    max-width : 320px;
}

.left .elements .element{
    background-color:#fff;
    margin : 10px;
    padding : 10px;
    max-width : 300px;
    position : relative;
    display : inline-block;
    min-width : 300px;
}

.left .elements .element_image{
    width : 40px;
    height : 40px;
    background-color : #9ff;
    float : left;
    margin-right : 10px;
}

.left .elements .place_cta{
    position : relative;
    float : right;
    margin-top : 13px;
    margin-bottom : -8px;
    font-size: 14px;
    background-color: blue;
    color: #fff;
    padding : 4px;
    border-radius : 3px;

}

.left .elements .place_cta:hover{

    background-color: darkblue;


}

.left .elements .organizeButtons{
    display : none;
}

.right .modules{
    list-style-type : none;
}

.right {
    padding : 10px;
    position : relative;
    left : 330px;
    top : 0px;


}

.right .module{
    position : relative;
    background-color : #ddd;
    margin : 10px;
    padding : 10px;
    width : 400px;
    min-height : 200px;
}



.image2{
    background-color: #aaf !important;
}

.image3{
    background-color: #daa !important;
}

.left .elements {
    list-style-type : none;
    max-width : 320px;
}

.right .elements .element{
    background-color:#fff;
    margin : 10px;
    margin-left : 0px;
    padding : 10px;
    max-width : 300px;
    position : relative;
    display : inline-block;
    min-width : 300px;
    z-index : 1002;
}

.element{
    border : 1px solid #ccc;
}


.right .elements .element_image{
    width : 40px;
    height : 40px;
    background-color : #9ff;
    float : left;
    margin-right : 10px;

}

.right .elements .place_cta{
    position : relative;
    float : right;
    margin-top : 13px;
    margin-bottom : -8px;
    font-size: 14px;
    background-color: blue;
    color: #fff;
    padding : 4px;
    border-radius : 3px;

}

.right .elements .place_cta:hover{
    background-color: darkgreen;

}

.right .elements .placeHere{
    background-color:green;
}

.placingBegun{
    background-color:#ddd !important;
}

@-webkit-keyframes example {
    0%   {background-color:green;}
    50% {background-color:transparent ;}
    100% {background-color:green ;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:green ;}
    50% {background-color:transparent ;}
    100% {background-color:green ;}
}


.up{
    float: left;
    margin-top: 13px;
    z-index: 1000;
    position: relative;
    box-sizing: content-box;
    padding: 3px;
    margin-bottom: -8px;
}

.down{
    float: left;
    margin-top: 13px;
    z-index: 1000;
    position: relative;
    box-sizing: content-box;
    padding: 3px;
    margin-bottom: -8px;
}

.add-elements{
    padding: 4px;
}

.module:hover{
    outline : 1px solid #888;
}